[submodule "classic"]
	path = classic
	url = https://github.com/thefosk/classic.git
[submodule "memoize"]
	path = memoize
	url = https://github.com/kikito/memoize.lua.git
[submodule "math"]
	path = math
	url = https://github.com/raingloom/ntai.git
